[submodule "projects/smeta"]
	path = projects/smeta
	url = https://github.com/kimicito/smeta.git
[submodule "skills/drawings-to-vor"]
	path = skills/drawings-to-vor
	url = https://github.com/kimicito/drawings-to-vor.git
